Key Gen:
  -Public basis needs high orthognality
  -Private basis needs low orthognality; nearly orthogonal

Encryption: (exact same as GGH-YK)
  -Each character is turned into its ASCII value and that is the number put into the M-matrix
  


Decryption: (Similar to GGH-YK, but messasge bits are only encoded into the S; T is redundant)
  

Other:
  Dimensions - start with 2D for proof of concept; -> 10 -> 100 -> 400
